.titles-wrapper{
  width: 100%;
}

/* Set the bubble background behind the ham menu icon */
#menu {
    z-index: 3;
}

/*Ham btn - click event for loading navigation*/
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}


/* Customize ham burger menu lines*/
.bar {
    height: 5px;
    width: 100%;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

/* Set an animation for bubble background appearance */
.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 8px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    color: black;
    font-size: 25px;
    padding: 10px;
    opacity: 0.8;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 2;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: #D90913;
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
}


.links-wrapper-responsive{
    display: none;
    flex-direction: row;
}