<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/fragment :: head"></head>

<header th:replace="/fragments/fragment :: nav"></header>

<body>
<main id="education-main">
<div th:replace="/fragments/fragment :: ribbon"></div>
<section id="education">
    <div class="container">
        <div class="card-carousel">
            <div class="card" id="1">
                <div class="image-container"></div>
                <p>Docker</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-112d8643-a53d-4cc2-a146-90daaa1294fd.jpg?v=1641213946000">Credentials</a>
            </div>
            <div class="card" id="2">
                <div class="image-container"></div>
                <p>Spring Data Advanced</p>
                <a href="https://softuni.bg/certificates/details/120318/d16774ff">Credentials</a>
            </div>
            <div class="card" id="3">
                <div class="image-container"></div>
                <p>JUnit5/Mockito</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-7872f1ee-df9e-46c3-ac35-61a16e44d371.jpg?v=1640128948000">Credentials</a>
            </div>
            <div class="card" id="4">
                <div class="image-container"></div>
                <p>Spring Fundamentals</p>
                <a href="https://softuni.bg/certificates/details/117416/3aae5fbc">Credentials</a>
            </div>
            <div class="card" id="5">
                <div class="image-container"></div>
                <p>Java OOP</p>
                <a href="https://softuni.bg/certificates/details/112537/16b58e05">Credentials</a>
            </div>
            <div class="card" id="6">
                <div class="image-container"></div>
                <p>Spring Data</p>
                <a href="https://softuni.bg/certificates/details/110133/43d8c935">Credentials</a>
            </div>
            <div class="card" id="7">
                <div class="image-container"></div>
                <p>MySQL</p>
                <a href="https://softuni.bg/certificates/details/107825/ae5c5e80">Credentials</a>
            </div>
            <div class="card" id="8">
                <div class="image-container"></div>
                <p>JavaScript Application</p>
                <a href="https://softuni.bg/certificates/details/102290/e41fadd7">Credentials</a>
            </div>
            <div class="card" id="9">
                <div class="image-container"></div>
                <p>HTML & CSS</p>
                <a href="https://softuni.bg/certificates/details/101446/4b684a56">Credentials</a>
            </div>
            <div class="card" id="10">
                <div class="image-container"></div>
                <p>Java Advanced</p>
                <a href="https://softuni.bg/certificates/details/93543/b9cd3ecc">Credentials</a>
            </div>
            <div class="card" id="11">
                <div class="image-container"></div>
                <p>Angular Framework</p>
                <a href="https://softuni.bg/certificates/details/101446/4b684a56">Credentials</a>
            </div>
        <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
    </div>
    </div>
</section>

<section class="accordion-skill-wrapper">
    <h1 class="title">
        <span class="blink">[&nbsp; </span>
        &nbsp;Certificates & Diplomas&nbsp;
        <span class="blink"> &nbsp;]</span>
    </h1>
    <div class="skills-table">
    <div class="skills-col-wrapper">
        <div class="wrapper">
  <span>
    <a class="tenth" href="#"><----------</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Java Advanced</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Java OOP</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Java Web</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Spring Framework</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Spring Data JPA</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="https://udemy-certificate.s3.amazonaws.com/image/UC-112d8643-a53d-4cc2-a146-90daaa1294fd.jpg?v=1641213946000">Docker for Java</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Cloud - AWS</a>
  </span>
        </div>
        <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">JUnit5/Mockito</a>
  </span>
        </div>
        <div class="wrapper">
  <span >
    <a class="tenth" href="#">-----------></a>
  </span>
        </div>
    </div>
    <div class="skills-col-wrapper">
    <div class="wrapper">
  <span>
    <a class="tenth" href="#"><----------</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">HTML & CSS</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">JavaScript</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Angular Framework</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Java Fundamentals</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Java Web Developer</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Cloud AWS</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="https://udemy-certificate.s3.amazonaws.com/image/UC-112d8643-a53d-4cc2-a146-90daaa1294fd.jpg?v=1641213946000">Docker</a>
  </span>
    </div>
    <div class="wrapper">
  <span class="square">
    <a class="tenth before after" href="#">Agile - Scrum</a>
  </span>
    </div>
    <div class="wrapper">
  <span >
    <a class="tenth" href="#">-----------></a>
  </span>
    </div>
    </div>
    </div>
</section>
</main>

<footer th:replace="/fragments/fragment :: footer"></footer>

<script src="/js/navbar.js"></script>
<script src="/js/certificates-carousel.js"></script>

</body>
</html>