<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragment :: head"></head>

<body>


<header th:replace="/fragments/fragment :: nav"></header>

<main>
    <div th:replace="/fragments/fragment :: ribbon"></div>
    <div class="home-wrapper">
        <section class="links-wrapper-responsive">
            <ul>
                <li><a href="www.linkedin.com/in/dtsoneva"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-github-square"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="#"><i class="fab fa-reddit-square"></i></a></li>
            </ul>
        </section>
    <section th:replace="/fragments/fragment :: intoduction"></section>
    <section class="picture-wrapper">
        <img src="../assets/framed-profile.png">
    </section>
    </div>
</main>

<footer th:replace="/fragments/fragment :: footer"></footer>

<script src="/js/navbar.js"></script>
<script src="/js/typing.js"></script>
</body>
</html>